<header>
  <img class="header-image" src="/img/deepdish.png" alt="Deep Dish logo"/>
  <div class="header-info">
    <h1 class="header-title">Deep Dish Movie Month</h1>
    <p class="header-description">
      Two people, quarantining in an apartment in Northwest DC, going deep—perhaps too deep—into an actor's filmography.
    </p>
    <div class="nav-section">
      <ul class="nav header-pages">
        <li>
          <a href="/about.html">
            About
          </a>
        </li>
      </ul>
      <ul class="nav header-social">
        <li>
          <a href="https://twitter.com/deepdishmovies">
            <i class="fa fa-twitter social-icon"></i>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/deepdishmovies">
            <i class="fa fa-facebook social-icon"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/deepdishmovies">
            <i class="fa fa-instagram social-icon"></i>
          </a>
        </li>
        <li>
          <a href="mailto:hi@deepdish.show">
            <i class="fa fa-envelope social-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>