<header>
  <img class="header-image" src="/img/deepdish.png" alt="Deep Dish logo"/>
  <div class="header-info">
    <h1 class="header-title">Deep Dish Movie Month</h1>
    <p class="header-description">
      Two people, quarantining in an apartment in Northwest DC, going deep—perhaps too deep—into an actor's filmography.
    </p>
    <p class="header-description">
      (It's a podcast.)
    </p>
    <div>
      <a href="https://podcasts.apple.com/us/podcast/deep-dish-movie-month/id1533545392"><img src="/img/badges/apple.svg" alt="Listen on Apple Podcasts" /></a>
      <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuZGVlcGRpc2guc2hvdy9mZWVkLnhtbA"><img src="/img/badges/google.svg" alt="Listen on Google Podcasts" height="40px" /></a>
      <a href="https://open.spotify.com/show/6TMTHoZ2m5vJXSMcufYqEI?nd=1"><img src="/img/badges/spotify-dark.svg" alt="Listen on Spotify" /></a>
    </div>
    <ul class="nav">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/about/">
          About
        </a>
      </li>
      <li>
        <a href="https://twitter.com/deepdishmovies">
          <i class="fa fa-twitter social-icon"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/deepdishmovies">
          <i class="fa fa-facebook social-icon"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/deepdishmovies">
          <i class="fa fa-instagram social-icon"></i>
        </a>
      </li>
      <li>
        <a href="mailto:hi@deepdish.show">
          <i class="fa fa-envelope social-icon"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
