<div class="episode">
  <div class="episode-data">
    <h2 class="episode-title">
      <a href="/e/{{ .Get "permalink" }}">{{ .Get "title" }}</a>
    </h2>
    <span class="episode-date">{{ .Get "date" }}</span>
  </div>
  <iframe title="{{ .Get "title" }}" style="border: none;" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/media/player/{{ .Get "slug" }}?from=pb6admin&download=1&version=1&auto=0&share=0&download=1&rtl=0&fonts=Helvetica&skin=1&pfauth=&btn-skin=109" width="100%" height="122"></iframe>
</div>